<!-- <app-page-header title="Unauthorized" icon="error"></app-page-header> -->

<div [@fadeInOut] class="page-content flex-col center-center">
  <div>
    <div style="background: radial-gradient(50% 109137.91% at 50% 50%, rgba(233, 30, 99, 0.1) 0%, rgba(254, 244, 247, 0) 100%);" class="text-center">
      <!-- <mat-icon class="mat-icon-lg vertical-center">lock</mat-icon> -->
      <h1 class="vertical-center" style="margin: 0;">401</h1>
</div>
    <div class="mt-6 mb-5 font-bold text-6xl text-900 text-center">Unauthorized</div>
    <p>
      Sorry, you do not have access to this application.  If you believe this is in error please contact <a href="mailto: ryan.sposato@ethany.com">Ryan Spoato</a>
      or <a href="mailto: mike.dakin@ethany.com">Mike Dakin</a>.
    </p>
  </div>
</div>
